.volver-boton {
  background-color: transparent;
  
 
    color: #FFB800; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
  
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
  }
  
  .volver-boton:hover {
    color: transparent;
  }